.dashboard {
    header {
        background: $dashboard-header;
        padding: 10px 20px;
        color: $dashboard-main;

        a,
        input {
            color: $dashboard-main;
        }

        input {
            margin-bottom: 4px;
        }
    }

    nav {
        // background: $dashboard-aside;
        // min-height: calc(100vh - 56px);
        // padding: 10px 20px;
        background: $main-bg;

        a {
            color: $dashboard-main;
            letter-spacing: .1em;
            transition: text-shadow .3s;

            &:hover {;
                text-shadow: 0 0 .15px $dashboard-main, 0 0 .15px $dashboard-main
            }
        }
    }

    .dashboard-content {
        background: $dashboard-main;
        // box-shadow: inset 10px 10px 10px -5px #777;
        padding: 20px 20px;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            padding: 8px 0;
        }
    }

    ol {
        list-style-type: none;
    }

    .btn-dash {
        color: $paragraph;
        font-size: map-get($font-sizes, p-small);
        padding: 5px 10px;

        &:hover {
            text-decoration: none;
        }

        &.active {
            background: $dashboard-main;
        }
    }

    .alert-box {
        display: none;
        background: map-get($colors, alert-box);
        position: fixed;
        z-index: 1000;
        margin: 0 auto;
        width: 300px;
        padding: 30px 40px;
        left: 40%;
        top: 25%;

        .btn {
            margin: 20px 10px 0 30px;
        }
    }

    .shadow {
        -moz-box-shadow: 0 4px 6px 0 #000;
        -webkit-box-shadow: 0 4px 6px 0 #000;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
    }
}