.dashboard {
	header {
		background: $dashbord-aside;
		padding: 10px 20px;
	}

	nav {
		background: $dashbord-aside;
		min-height: calc(100vh - 56px);
		padding: 10px 20px;
	}

	.dashboard-content {
		background: $dashbord-main;
		box-shadow: inset 10px 10px 10px -5px #777;
		padding: 20px 20px;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
	}

	.btn-dash {
		color: $paragraph;
		font-size: map-get($font-sizes, p-small);
		padding: 5px 10px;

		&:hover {
			text-decoration: none;
		}

		&.active {
			background: $dashbord-main;
		}
	}
}