body {
    background-color: $main-bg;
    background: rgba(210,255,82,1);
    background: -moz-linear-gradient(bottom, $main-bg 0%, darken($main-bg, 20%) 100%);
    background: -webkit-gradient(bottom top color-stop(0%, $main-bg), color-stop(100%, darken($main-bg, 20%)));
    background: -webkit-linear-gradient(bottom, $main-bg 0%, darken($main-bg, 20%) 100%);
    background: -o-linear-gradient(bottom, $main-bg 0%, darken($main-bg, 20%) 100%);
    background: -ms-linear-gradient(bottom, $main-bg 0%, darken($main-bg, 20%) 100%);
    background: linear-gradient(to bottom, $main-bg 0%, darken($main-bg, 20%) 100%);

    h1 {
        font-size: map-get($font-sizes, h1);
    }

    h2 {
        font-size: map-get($font-sizes, h2);
    }

    h3 {
        font-size: map-get($font-sizes, h3);
    }

    h4 {
        font-size: map-get($font-sizes, h4);
    }

    h5 {
        font-size: map-get($font-sizes, h5);
    }

    h6 {
        font-size: map-get($font-sizes, h6);
    }
}

.m-t-40 {
    margin-top: 40px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.p-top-25vh {
    padding-top: 25vh;
}

.p-top-10vh {
    padding-top: 10vh;
}

.img-hero {
    min-height: calc(100vh - 55px);
    background: url('../images/img-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: map-get($colors, light);

    a {
        color: white;

        &:hover {
            text-decoration: none;
        }
    }
    h1,
    h3 {
        background-color: $green-opacity;
        padding: 10px 0;
        margin-bottom: 0;
    }
}

.car-show {
    padding: 70px 0;
}

.card-columns {
    columns: 2;
}

.item-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.hero-header {
    img {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    h1 {
        background-color: rgba(0,105, 92, .5);
        margin-bottom: 0;
        font-size: 3rem;
        bottom: 0;
        margin-top: -80px;
        padding-left: 100px;
        padding-top: 10px;
        width: 100%;
        color: map-get($colors, light);
    }
}

.alert-danger {
    ul {
        margin: 0;
        list-style-type: none;
    }
}

.login {
    background-color: $green-opacity;
    color: $white;

    h6 {
        margin: 20px auto; 
    }

    input,
    input:focus {
        background-color: $green-opacity;
        color: $white;
    }
}